#logo {
    a {
        color: #28313b;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;

        span {
            color: #2a86ff;
            font-weight: 500;
        }
    }
}
