#messenger_chat {
    width: $percent-100;
    margin-left: 1.875rem;
    border: 0.0625rem solid $color-ice;
    border-radius: 0.375rem;

    .chat-header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-white;
        border-bottom: 0.0625rem solid $color-ice;

        ._col {
            &:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .close-chat {
                    height: 3.75rem;
                    width: 3.125rem;
                    border: 0;
                    background-color: $color-white;
                    border-right: 0.0625rem solid $color-ice;
                    border-top-left-radius: 0.375rem;
                    cursor: pointer;

                    @media (min-width: 768px) {
                        display: none;
                    }

                    svg {
                        height: 1rem;
                        width: auto;

                        path {
                            fill: $color-black;
                            opacity: 0.8;
                        }
                    }
                }

                .chat-user {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-left: 0.9375rem;
                    background-color: $color-white;

                    .contact-name {
                        font-size: 0.875rem;
                        font-weight: $fw700;
                        color: $color-black;
                        opacity: 0.9;
                        margin-left: 0.625rem;
                    }
                }
            }
        }
    }

    .chat-content {
        background-color: $color-light;
        padding: 1.25rem 0.9375rem;
        min-height: 528px;
        max-height: $percent-100;
        overflow: hidden;
        overflow-y: scroll;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;

        .messages {
            .message-item {
                display: table;
                flex-direction: column;
                max-width: 45%;
                width: $percent-100;
                margin-bottom: 0.875rem;

                .message-content {
                    padding: 0.9375rem;
                    background-color: $color-white;
                    border: 1px solid $color-ice;
                    color: $color-black;
                    font-size: 14px;
                    font-weight: $fw400;
                    border-radius: 6px;
                    text-align: left;
                }

                .message-sent-in {
                    font-size: 12px;
                    font-weight: $fw600;
                    opacity: 0.5;
                    color: $color-black;
                    text-align: left;
                    margin-top: 0.375rem;
                }
            }

            .message-item.out {
                margin-left: auto;

                .message-content {
                    background-color: $color-blue;
                    border: 1px solid $color-blue;
                    color: $color-white;
                }

                .message-sent-in {
                    text-align: right;
                }
            }
        }
    }

    .chat-write-message {
        padding: 0.9375rem;
        background-color: $color-white;
        border-top: 0.0625rem solid $color-ice;

        form {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .write-message {
                width: 75%;
                input {
                    width: $percent-100;
                    padding: 1.25rem 0.9375rem;
                    font-weight: $fw600;
                    font-size: 0.875rem;
                    border: 0;
                }
            }

            .send-message {
                button {
                    border: 0;
                    background-color: $color-white;
                    padding: 0.625rem;
                    cursor: pointer;

                    svg {
                        width: 1.5rem;
                        height: auto;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.active-chat {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -30px;
    right: 0;
    top: 0;
    z-index: 999;
    display: block;

    @media (min-width: 768px) {
        position: relative;
        left: auto;
        z-index: auto;
    }

    .chat-content {
        min-height: auto !important;
        height: calc(100% - 190px);

        @media (min-width: 768px) {
            min-height: 528px !important;
            max-height: 528px !important;
            height: auto;
        }
    }
}
