
#view_process_detail {

    margin-top: 1.875rem;
    margin-bottom: 2.5rem;

    @media (max-width: 992px) {
        .cover {
            max-width: 93%;
        }
    }

    .header {
        
        .username {
            font-weight: $fw600;
            font-size: 1.25rem;
            margin-top: 0.625rem;
            text-align: center;
            color: $color-black;
        }
    }

    .content {
        max-width: 574px;
        width: $percent-100;
        margin: auto;
        margin-left: 0;
        margin-top: 1.875rem;

        .info-block {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                font-size: 14px;
                font-weight: $fw700;
                color: $color-black;
                opacity: 0.9;
                margin-bottom: 10px;
            }

            .description {
                font-size: 0.875rem;
                font-weight: $fw400;
                color: $color-black;
                opacity: 0.6;
            }

            .description {
                line-height: 1.6;
            }

            .rating {
                padding: 10px;
                background-color: #f0f0f0;
                margin: 10px;
                max-width: 89%;
            }

            .message-user-info {
                display: flex;
                justify-content: baseline;
                margin-bottom: 1em;
            }

            .message-user {
                font-size: 0.875rem;
                font-weight: $fw400;

                margin-left: 7px;
                align-self: center;
            }

            .message {
                opacity: 0.5;
            }

            .message-rate {
                align-self: center;
                margin-left: 10px;
                font-size: 0.875rem;
                font-weight: $fw400;

            }
        }

    }

}