#view_user-profile {
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;

    .header {
        .avatar.large {
            margin: 0 auto;
            margin-top: -40px;
            border: 0.0625rem solid $color-white;
            z-index: 9;
            position: relative;
            overflow: visible;
        }

        .username {
            font-weight: $fw600;
            font-size: 1.25rem;
            margin-top: 0.625rem;
        }

        .rate {
            font-weight: $fw600;
            font-size: 1.15rem;
            margin-top: 0.625rem;
        }

        .username,
        .rate,
        .oab-number {
            text-align: center;
            color: $color-black;
        }

        .oab-number {
            font-weight: $fw700;
            font-size: 0.75rem;
            opacity: 0.9;
            margin-top: 0.75rem;
        }
    }

    .content {
        max-width: 574px;
        width: $percent-100;
        margin: auto;
        margin-left: 0;
        margin-top: 1.875rem;

        .info-block {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                font-size: 14px;
                font-weight: $fw700;
                color: $color-black;
                opacity: 0.9;
                margin-bottom: 10px;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    margin-left: 0.625rem;
                    width: 1.25rem;
                    height: auto;
                }
            }

            .expertise {
                border: 1px solid $color-ice;
                font-size: 11px;
                font-weight: $fw700;
                text-transform: uppercase;
                display: inline-block;
                padding: 0.5rem 0.9375rem;
                border-radius: 0.375rem;
                margin: 5px;

                span {
                    opacity: 0.6;
                }
            }

            .phone,
            .message,
            .bio {
                font-size: 0.875rem;
                font-weight: $fw400;
                color: $color-black;
                opacity: 0.6;
            }

            .bio {
                line-height: 1.6;
            }

            .rating {
                padding: 10px;
            }

            .message-user-info {
                display: flex;
                justify-content: baseline;
                margin-bottom: 1em;
            }

            .message-user {
                font-size: 0.875rem;
                font-weight: $fw400;

                margin-left: 7px;
                align-self: center;
            }

            .message-rate {
                align-self: center;
                margin-left: 10px;
                font-size: 0.875rem;
                font-weight: $fw400;

            }
        }
    }
}
